<!DOCTYPE html>
<html>

<head>
    <title>Morsy Multimedia & Eduction</title>
    <link rel="icon" href="images/icon.png">
    <link rel="stylesheet" href="/css/user_style.css">
</head>

<body>
    <center>
        <header>
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="site-logo">
                        <h1>LOGO</h1>
                    </div>
                    <div class="nav-bar">
                        <nav>
                            <ul>
                                <li>
                                    <a href="/user">
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a href="/user/user_about">
                                        About us
                                    </a>
                                </li>
                                <li>
                                    <a href="/user/user_blog">
                                        Blog
                                    </a>
                                </li>
                                <li>
                                    <a href="/user/user_services">
                                        Services
                                    </a>
                                </li>
                                <li>
                                    <a href="/user/user_login">
                                        Login
                                    </a>
                                    
                                </li>
                                <li>
                                  <a href="/user/user_registration">
                                      Registration
                                  </a>
                              </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    </center>
</body>

</html>