<center>
    <h2>User Registration</h2>
    <form action="/user/user_registrationdata" method="post">
        <table>
            <tr>
                <td>
                    Name : <input type="text" name="name"><br><br>
                </td>
            </tr>
            <tr>
                <td>
                    Email : <input type="email" name="email"><br><br>
                </td>
            </tr>
            <tr>
                <td>
                    Password : <input type="password" name="password"><br><br>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Already have an account <a href="/user/user_login">Sign In</a></p>
                </td>
            </tr>
            <tr>
                <td>
                    <br><input type="submit" value="submit"><br><br>
                </td>
            </tr>
            <tr>
                <td>
                    <%if(messages.success){%>
                        <div style="width: fit-content; background-color: cadetblue; color: white; padding: 10px 20px;"><%=messages.success%></div>
                      <%}%>
                </td>
            </tr>
        </table>
    </form>
</center>